<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tecnologiazk</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="DAO/SitioCategoriaSitio.hbm.xml"/>
    <mapping resource="DAO/Foto.hbm.xml"/>
    <mapping resource="DAO/CalificacionRutaTuristica.hbm.xml"/>
    <mapping resource="DAO/Checkin.hbm.xml"/>
    <mapping resource="DAO/Dia.hbm.xml"/>
    <mapping resource="DAO/RolUsuarioUsuario.hbm.xml"/>
    <mapping resource="DAO/Sitio.hbm.xml"/>
    <mapping resource="DAO/Evento.hbm.xml"/>
    <mapping resource="DAO/SitioRutaTuristica.hbm.xml"/>
    <mapping resource="DAO/EventoCategoriaEvento.hbm.xml"/>
    <mapping resource="DAO/TelefonoSitio.hbm.xml"/>
    <mapping resource="DAO/CategoriaEvento.hbm.xml"/>
    <mapping resource="DAO/ComentarioRutaTuristica.hbm.xml"/>
    <mapping resource="DAO/CategoriaSitio.hbm.xml"/>
    <mapping resource="DAO/CalificacionSitio.hbm.xml"/>
    <mapping resource="DAO/Usuario.hbm.xml"/>
    <mapping resource="DAO/Promocion.hbm.xml"/>
    <mapping resource="DAO/RolUsuario.hbm.xml"/>
    <mapping resource="DAO/RutaTuristica.hbm.xml"/>
    <mapping resource="DAO/Sitio2.hbm.xml"/>
    <mapping resource="DAO/Auditoria.hbm.xml"/>
    <mapping resource="DAO/ComentarioSitio.hbm.xml"/>
    <mapping resource="DAO/HorarioSitio.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
